
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/foundation.css">
  </head>
<body>
    <div>
      
      
      <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">bazar</li>
            <li ><a href="#0">Cozinha</a></li>
            <li><a href="#0">Mesa</a></li>
            <li><a href="#0">Banho</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="encontrar"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-container">
        <div class="card">
            <img src="uploads/images/imagem1614748757996.jpg">
            <div class="card-section">
              <p>This is a simple card with an image.</p>
            </div>
          </div>
    </div>


<script src="js/vendor.js"></script>
<script src="js/foundation.js"></script>
</body>
</html>
